
.voice-content {
  text-align: center;
 margin-top: 50px;
  padding: 0 50px 0 50px;

}
.voice-content p {
  
}
@-webkit-keyframes fade-in{
  0%{
      opacity:1;
  }
  50%{
      opacity:0;
  }
  100% {
    opacity: 1;
  }
}

.animated-fade-in {
  -webkit-animation:fade-in 2.5s infinite;
}

#map{
  text-align: center;
  margin:auto;
}